:root {
    --primary-color: #C6D4FF;
    --secondary-color: #7A82AB;
    --accent1-color: #307473;
    --accent2-color: #2DC2BD;
    --heading-font: "Libre Baskerville, bold";
    --body-font: "Libre Baskerville, regular";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
    padding: 0 1 rem;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 1rem;
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--secondary-color);
}

header. logo {
    margin: 0 0.25rem 0 1 rem;
    width: 70px;
    height: auto;
}

.navigation {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "Libre Baskerville", serif;
}

.navigation li a {
    display: block;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 15 px 20px;
    text-decoration: none;
    font-size: 1.1rem;
}

navigation a:hover {
    color: var(--accent2-color);
    background-color: var(--secondary-color);
    font-weight: 700;
    text-decoration: none;
}

.hero {

    padding: 2rem 1rem;
    text-align: center;
    background-color: var(--primary-color);
    margin-bottom: 2rem;
    border: 1px solid var(--secondary-color);
}

.hero h2 {
    color: var(--accent1-color);
    margin-bottom: 1.5rem;
}

.hero content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5 rem;
    align-items: start;
    background-color: #fff;
    padding: 1.5rem;
    border: 1px solid var(--secondary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: 0 auto;
}

.hero content p {
    text-align: left;
    margin: 0;
    padding: 0
}

.hero content img {
    width: 100%;
    height: auto;
    max-width: 200px;
    justify-self: center;
    border: 1px solid var(--secondary-color);
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--secondary-color);
    padding: 10px;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    float: left-center;
    position: absolute;

}

p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a img {
    text-decoration: none;
    width: 30px;
    height: 30px;
}

.hero {

    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;

}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

article {
    position: absolute;
    bottom: 15px;
    width: 95%;
    background-color: var(--accent2-color);
    color: #fff;
    padding: 16px;
    opacity: 0.7;
}

.hero article img {
    float: right;
    width: 125px;

}