:root {
    --primary-color: #C6D4FF;
    --secondary-color: #7A82AB;
    --accent1-color: #307473;
    --accent2-color: #2DC2BD;
    --heading-font: "Libre Baskerville, bold";
    --body-font: "Libre Baskerville, regular";
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid var(--secondary-color);
    max-width: 1000px;
    align-content: space-evenly;
}

img src {
    margin: 0 0.25rem 0 1rem;
    width: 32px;
    height: auto;
}

/*hola*/
/* font-family: var(--heading-font);
    padding: 20px;
    text-align: center;
 */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--secondary-color);
    padding: 10px;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    float: left-center;
    position: absolute;

}

p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a img {
    text-decoration: none;
    width: 30px;
    height: 30px;
}

.hero {

    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;

}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

article {
    position: absolute;
    bottom: 15px;
    width: 95%;
    background-color: var(--accent2-color);
    color: #fff;
    padding: 16px;
    opacity: 0.7;
}

.hero article img {
    float: right;
    width: 125px;

}